body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
body div{
  
}

nav {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0 10%;
  margin: 0 auto;
  border-bottom: 1px solid #000
}

a {
  margin: 0 20px;
  padding: 1em 10px;
  color: #000;
  text-decoration: none;
  letter-spacing: .1em;
}

.logo {
  width: auto;
  height: 20px;
  margin-right: auto;
  margin-left: 0;
  font-size: 1.3em;
  font-weight:bold;
  /* font-family: "Bitstream Vera Serif Bold"; */
}

.logo img {
  width: 100%;
  height: auto;
}

.contact img{
  height: 20px;
  margin-left: auto;
  margin-right: 0;
}

#main_image_wrap {
  text-align: center
}

.main_image img {
  margin-top: 60px;
  width: 90vw;
  height: 100%;
  border-radius: 20px;

}

nav ul {
  list-style: none;
  /* right: 0; */
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: blue;
  text-decoration: none;
  /* background-color: aqua; */
}

.container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  margin-top: 20px;
}

.sidebar {
  width: 25%;
  background-color: #444;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.content {
  width: 100%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
}

.content h1 {
  font-size: 180%;
}

.content h2 {
  margin-bottom: 0px;
}

.content p {
  margin-left: 20px;
  margin-top: 0;
}

.content a,
a:visited {
  text-decoration: none;
  color: black;
}

.content a:hover {
  text-decoration: underline;
}

.language {
  margin-left: 1em;
}

.language div {
  margin-left: 1em;
  font-size: 90%;
  margin-bottom: 10px;
  height: 1em;

}

img {
  height: 1em
}

section {
  margin-bottom: 20px;
}

a:hover {
  text-decoration: underline;
}